<div class="menu">

    <h2>MENU</h2>

    <!-- CLIENTES -->

    <div class="dropdown">

        <button class="dropbtn">Clientes ▼</button>

        <div class="dropdown-content">
            <a href="cadastro_cliente.html">
                Cadastrar Cliente
            </a>

            <a href="clientes_cadastrados.html">
                Clientes Cadastrados
            </a>
        </div>

    </div>

    <!-- PRODUTOS -->

    <div class="dropdown">

        <button class="dropbtn">Produtos ▼</button>

        <div class="dropdown-content">
            <a href="cadastro_de_produto.html">
                Cadastrar Produto
            </a>

            <a href="produtos_cadastrados.html">
                Produtos Cadastrados
            </a>
        </div>

    </div>

    <!-- PEDIDOS -->

    <div class="dropdown">

        <button class="dropbtn">Pedidos ▼</button>

        <div class="dropdown-content">
            <a href="cadastro_pedido.html">
                Cadastrar Pedido
            </a>

            <a href="pedidos_realizados.html">
                Pedidos Realizados
            </a>
        </div>

    </div>

    <!-- SAIR -->

    <div class="sair">
        <a href="tela_login.html">
            <button>Sair</button>
        </a>
    </div>

</div>
